body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b5c2c7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-image {
    padding-right: 10px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    float: right;
}

.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 300px;
}

.container-appointment {
    width: 360px;
    height: 550px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin: 20px;
    color: #777;
}

.container-appointment form {
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition: 0.5s;
}

form select, form input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

::placeholder {
    color: #777;
}


form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #26c2c6, #22637a);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
}

#datepicker {
    text-align: center;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }
